<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>about us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

<link rel="stylesheet" href="us.css">

  <style media="screen">

    .btn-link{
      font-weight: 500;
      text-decoration:none;!important
    }


    .btn-link:hover{
      color:red;
    }


  </style>
</head>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
          <h1 id="navhed"class="navbar-brand brand-name">

            <a class="navbar-brand" href="#">
              <!--  -->
              <button  class="btn btn-link" style='font-size:17px;' onclick="window.location.href ='{% url 'main_page:main_page' %}';"><img src= "images/logomain.png" width="160" ></button>
            </a>
         </h1>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-bars" aria-hidden="true"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <!-- onclick="window.location.href = 'https://w3docs.com';" -->
            <div class="navbar-nav ml-auto">
              <button class="btn btn-link" style='font-size:17px; text-decoration:none;color:black;' onclick="window.location.href ='{% url 'weather:index' %}';">Weather</button>
              <button class="btn btn-link" style='font-size:17px;text-decoration:none;color:black;'  onclick="window.location.href ='{% url 'main_page:about' %}';">About us</button>
              <button class="btn btn-link" style='font-size:17px;text-decoration:none;color:black;' onclick="window.location.href ='{% url 'accounts:logout' %}';">Log Out</button>
      </div>
       <!-- Collapsible content -->

     </div>


     </div>

        </nav>
        <div class="heropic">h.png" style="position:absolute;z-index:-1;
      " alt="" width="800px;">
    </div>

        <div class="row">

        <div class="card c0 col-lg-5" style="background-color:transparent;">
        <div class="card-body">


        <h6 class="card-text"></h6>
        </div>
        </div>
        <div class="card c0 col-lg-7" style="background-color:transparent">
        <div class="card-body">
      <div class="p1" style="text-align:center;" >


              <img src="images/logomain.png"  alt="">
              <h4>KrishiTech is a developed as a crop guidance and farmer friend portal which helps the farmers in terms of crop suggestion, pest attacks.
      </h4>


      </div></div>
    </div>
      </div>
      <!-- row 0 -->
      <div class="part-2">
<center>



<div class="row row1">


<div class="col-lg-3">

</div>
      <!-- cards deck 1 -->

          <div class="card c1 col-lg-2" style="">
          <div class="card-body">
            <img src="images/user-smile-fill.svg" width="72px" class="sv" alt="">

          <h6 class="card-text">User Friendly</h6>
          </div>
         </div>

         <div class="card c1 col-lg-2" style="">
         <div class="card-body">
           <i class='far fa-check-circle' style='font-size:72px;'></i>

         <h6 class="card-text">Easy-to-use </h6>
         </div>
        </div>

        <div class="card c1 col-lg-2" style="">
        <div class="card-body">
          <i class='fa fa-book' style='font-size:72px;'></i>
        <h6 class="card-text">Educational </h6>
        </div>
       </div>


       <div class="col-lg-3">

       </div>
    </div>


    <div class="row">

             <div class="col-lg-3">

             </div>
      <div class="card c1 col-lg-2" style="">
      <div class="card-body">
        <i class='fa fa-language' style='font-size:72px;'></i>
      <h6 class="card-text">Multi-Lingual Support 
</h6>
      </div>
     </div>

     <div class="card c1 col-lg-2" style="">
     <div class="card-body">
       <i class='fas fa-seedling' style='font-size:72px;'></i>

     <h6 class="card-text">Intuitive</h6>
     </div>
    </div>

    <div class="card c1 col-lg-2" style="">
    <div class="card-body">
      <i class='fas fa-cogs' style='font-size:72px;'></i>
    <h6 class="card-text">Geared</h6>
    </div>
   </div>
    <div class="col-lg-3">
    </div>
  </div>
</center>

</div>



<div class="ff">


  <h6>We <span>&hearts;</span> What WE Do</h6>
  <h3>Our talented Team Crafts the best code and design amazing user experiences for our clients</h3>
<center>

</div>
<div class="team">

  <h3> The Team </h3>
<div class="row r1">




<div class="card-wrapper">

<div class="card c2">

  <div class="card-image">
    <img src="images/normie1.jpg" alt="profile one"  width="100%;">
  </div>

<ul class="social-icons">
  <li>
    <a href=":https://www.facebook.com/naman.singla.94651">
      <i class="fab fa-facebook-f"></i>
    </a>
  </li>
  <li>
    <a href=" https://www.instagram.com/naman_2331/">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
  <li>
    <a href="https://github.com/Naman2331">
      <i class="fab fa-github"></i>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/naman-singla-7ba5281b0/">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
</ul>

<div class="details">
  <h2>Naman Singla
    <br>
    <span class="job-title">Web Developer</span>
  </h2>
</div>
</div>
</div>



<div class="card-wrapper">

<div class="card c2">

  <div class="card-image">
    <img src="images/prachi.jpg" alt="profile one"  width="130%">
  </div>

<ul class="social-icons">
  <li>
    <a href="https://m.facebook.com/prachi.garg.399826">
      <i class="fab fa-facebook-f"></i>
    </a>
  </li>
  <!-- <li>
    <a href="">
      <i class="fab fa-instagram"></i>
    </a>
  </li> -->
  <li>
    <a href="https://github.com/prachi6202">
      <i class="fab fa-github"></i>
    </a>
  </li>
  <li>
    <a href=" https://www.linkedin.com/in/prachi-garg-00a04b18b">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
</ul>

<div class="details">
  <h2>Prachi
    <br>
    <span class="job-title">Web Developer</span>
  </h2>
</div>
</div>
</div><!-- end box wrapper -->


<div class="card-wrapper">

<div class="card c2">

  <div class="card-image">
    <img src="images/rupali.jpg"  width="100%;">
  </div>

<ul class="social-icons">
  <li>
    <a href="">
      <i class="fab fa-facebook-f"></i>
    </a>
  </li>
  <li>
    <a href="">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
  <li>
    <a href="">
      <i class="fab fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
</ul>

<div class="details">
  <h2>Rupali
    <br>
    <span class="job-title">Backend Developer</span>
  </h2>
</div>
</div>
</div><!-- end box wrapper -->
</div>

<div class="row r2">

<div class="card-wrapper">

<div class="card c2">

  <div class="card-image">
    <img src="images/ver1.jpg" alt="vermapagal" width="100%;">
  </div>

<ul class="social-icons">

  <li>
    <a href="https://www.instagram.com/abhishekverma7155/">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
  <li>
    <a href="Https://Github.com/Abhishek51882">
      <i class="fab fa-github"></i>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/abhishek-verma-7829041a9">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
</ul>

<div class="details">
  <h2>Abhishek
    <br>
    <span class="job-title">Developer</span>
  </h2>
</div>
</div>
</div><!-- end box wrapper -->


<div class="card-wrapper">

<div class="card c2">

  <div class="card-image">
    <img src="images/abt.jpg" alt="profile one" width="130%;">
  </div>

<ul class="social-icons">
  <li>
    <a href="https://github.com/abhishektyagi1263">
      <i class="fab fa-github"></i>
    </a>
  </li>
  <li>
    <a href="linkedin.com/in/abhishektyagiweb">
      <i class="fab fa-linkedin"></i>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/its.abhishektyagi/">
      <i class="fab fa-instagram"></i>
    </a>
  </li>

  <li>
    <a href="https://dribbble.com/abhilllion">
      <i class="fab fa-dribbble"></i>
    </a>
  </li>

</ul>

<div class="details">
  <h2>Abhishek Tyagi
    <br>
    <span class="job-title">Front End  Developer</span>
  </h2>
</div>
</div>
</div><!-- end box wrapper -->

</div>
</div>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>

</html>
